<!--
User Profile Sidebar by @keenthemes
A component of Metronic Theme - #1 Selling Bootstrap 3 Admin Theme in Themeforest: http://j.mp/metronictheme
Licensed under MIT
-->
<div class="container">
			<div class="profile-sidebar">
				<!-- SIDEBAR USERPIC -->
                <div class="row justify-content-center">
                    <div class="col-md-9">
                        <div class="justify-content-center profile-userpic">
                            <img src="https://i.pinimg.com/originals/2c/7f/d4/2c7fd4e277d332cf993e93d98906dfd1.png" class="center-user-image img-responsive" alt="supervillain">
                        </div>
                    </div>
                </div>
                <!-- END SIDEBAR USERPIC -->

                <!-- SIDEBAR USER TITLE -->
                <div class="row justify-content-center">
                    <div class="profile-usertitle">
                        <div class="justify-content-center profile-usertitle-name">
                            MF  DOOM
                        </div>
                        <div class="profile-usertitle-job">
                            Supervillain
                        </div>
                        <div class="profile-usertitle-name">
                            <%= current_user.username %>
                        </div>
                    </div>
                </div>
                <!-- END SIDEBAR USER TITLE -->

				<!-- SIDEBAR BUTTONS -->
                <div class="row justify-content-center">
				<div class="profile-userbuttons">
					<button type="button" class="btn btn-danger btn-sm">SIGN OUT</button>
				</div>
                </div>
				<!-- END SIDEBAR BUTTONS -->

				<!-- FEEDBACK SECTION -->
                <div class="row justify-content-center">
                    <!--Div that will hold the pie chart-->
                    <div class="col-md-auto">
                        <!--chartkick scripts-->
                        <script src="https://www.gstatic.com/charts/loader.js"></script>
                        <script src="chartkick.js"></script>
                        <%= javascript_include_tag "//www.gstatic.com/charts/loader.js", "chartkick" %>

                        <%= line_chart Post.group(:entertainment).count , id: "users-chart", width: "800px", height: "500px", xmin: "2020-01-06", xman: "2020-30-06"%>
                        <%= pie_chart Post.group(:affect).count %>
                    </div>
                </div>
			</div>
</div>
