<!-- footer Section -->
<section class="footer_banner" id="contact">
    <h2 class="hidden">Footer Banner Section </h2>
    <p class="hero_header">FOR QUESTIONS &amp; COMPLAINTS</p>
    <div class="button">CONTACT</div>
</section>
<!-- Copyrights Section -->
<div class="copyright">&copy;2020-  <light>HP</light>
</div>
